doctype html  
    select#propertyType.select.form-control.input-lg(form='addProperty', name='propertyType')
                            option(value='1', selected= property.id == 1) Login
                                option(value='2', selected= property.id == 2) Sign Up
                                    option(value='3', selected= property.id == 3) Options
                                        option(value='4', selected= property.id == 4) Log out 
                                        