nav.navbar.is-dark
    .container
        .navbarclear
        .navbar-menu
            .navbar-end
                .navbar-item
                    a(href=createproduct)
                        .button
                            span.icon.is-large
                                img(src='/static/images/profile.jpg' width='50' height='50')
                        .button
                            span.icon.is-large
                                img(src='/static/images/cart.png' width='50' height='50') 