nav.navbar.is-dark
    .container
        .navbar-brand
            a.navbar-item
                img(src='/static/logo/j.png' width='50' height='50')
        .navbar-menu
            .navbar-end
                .navbar-item
                    a(href=createdProduct)
                        .button.is-fullwidth.is-primary
                            span.icon.is-large
                                img(src='/static/logo/mas.png' width='50' height='50')
